* {
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 100px;
}

.welcome-title {
    text-align: center;
    margin-top: 20px;
    color: rgb(27, 124, 215)
}

.grocery-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #eecda3, #ef629f);
    padding: 1rem;
    border-radius: 5px;
    justify-content: center;
    height: 300px;
    align-items: center;
    width: 400px;
}

.grocery-title {
    margin-bottom: 0.5rem;
    color: AliceBlue;
}

.add-grocery-container,
.grocery-list-container {
    display: flex;
    flex-direction: column;
}

#grocery-input,
.category-dropdown {
    border: none;
    border-radius: 3px;
    padding: 2px;
    background-color: MintCream;
}

#grocery-input:focus {
    outline: none;
}

#add {
    border: none;
    border-radius: 3px;
    padding: 3px;
    background-color: rgb(2, 166, 237);
    cursor: pointer;
    color: white;
}

.filter-grocery {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.grocery-container-filter {
    color: Snow;
}

.grocery-list-container {
    background: linear-gradient(to right, #00b4db, #0083b0);
    padding: 1rem;
    border-radius: 5px;
    max-height: 300px;
    color: white;
    width: 400px;
}

.groceries {
    overflow: hidden;
    overflow-y: auto;
    max-height: 350px;
}

.groceries::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.groceries::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.489);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.groceries::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(237, 106, 197);
}

.grocery {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    margin-right: 7px;
}

.material-symbols-outlined {
    padding: 2px !important;
    font-size: 1rem !important;
}

.grocery button {
    background-color: unset;
    border: none;
    cursor: pointer;
}

.edit {
    color: rgba(0, 229, 255, 0.989);
}

.remove {
    color: red;
}

.remove-all {
    border-radius: 3px;
    background-color: rgb(237, 106, 197);
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px;
    margin-top: 30px;
}

.remove-all:disabled {
    border: 1px solid gray;
    cursor: default;
    background-color: lightgray;
    color: black;
}

@media only screen and (max-width: 1367px) {
    .body {
        margin: 0 30px;
    }

    .welcome-title {
        margin-bottom: 20px;
    }

    .add-grocery {
        display: flex;
        gap: 3px;
    }
}

@media (max-width: 768px) {
    .body {
        flex-direction: column;
        gap: 0;
    }

    .welcome-title {
        margin-left: 10px;
        margin-right: 10px;
    }

    .grocery-container,
    .grocery-list-container {
        max-height: 250px;
        width: 350px;
        margin-top: 50px;
    }
}