* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome-title {
    text-align: center;
    color: #2c3e50;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.875rem;
}

.grocery-container {
    background: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 20rem;
    text-align: center;
}

.grocery-title {
    color: #34495e;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

.add-grocery {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
}

#grocery-input,
.category-dropdown {
    padding: 0.3rem;
    border-radius: 0.3rem;
    border: 1px solid #bdc3c7;
    outline: none;
    width: 6.25rem;
}

#add {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.3rem 0.9rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}

#add:hover {
    background-color: #2980b9;
}

.filter-grocery {
    margin-top: 0.9rem;
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    align-items: center;
}

.grocery-list-container {
    background: white;
    padding: 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 20rem;
}

.groceries {
    max-height: 12.5rem;
    overflow-y: auto;
    margin-bottom: 0.625rem;
}

.grocery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    background: #ecf0f1;
    border-radius: 0.3rem;
    margin-bottom: 0.3rem;
}

.edit,
.remove {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.edit {
    color: #27ae60;
}

.remove {
    color: #e74c3c;
}

.remove-all {
    width: 100%;
    padding: 0.625rem;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}

.remove-all:hover {
    background-color: #c0392b;
}

.remove-all:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}

@media only screen and (min-width: 768px) {

    .grocery-container,
    .grocery-list-container {
        width: 30rem;
        padding: 2.5rem;
    }

    #grocery-input,
    .category-dropdown {
        width: 50%;
    }

    #add {
        padding: 0.35rem 1.2rem;
    }
}